html,
body {
    font-family: 'Raleway', 'My Gill Sans', 'Lato', sans-serif;
    margin: 0px;
    height: 100%;
    font-size: x-large;
}

p {
    margin: 0px;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-header {
    background-color: rgb(170, 248, 146);
    display: flex;
    padding-bottom: 20px;
}

.home-header p {
    margin: 8px
}

.home-header-div {
    display: flex;
    padding: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.home-header-div a {
    padding: 5px;
}

/* .home-main{
    font-size: large;
} */

.home-main .main-div {
    padding: 5px 8px;
    background-color: rgb(255 130 197);
}

.home-main-section-1 {

    display: flex;
    word-break: normal;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
}

.home-footer {
    margin-top: auto;
    background-color: #5b6465;
}

.home-footer div {
    margin: 10px;
    color: #a7b3b4;
}